* {
  padding: 0px;
  margin: 0px;
}
h1 {
  text-align: center;
  padding: 1rem;
}
h2 {
  padding-bottom: 10px;
}
/* section{
    margin-left: 50px;
} */
body {
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}
h3 {
  padding: 1rem;
}
.whole_container {
  /* position: relative; */
  background-color: rgb(235, 233, 233);
  border-radius: 2rem;
  padding: 2rem;
}
.container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  height: 190px;

  margin: auto;
}
.blog_container #read {
  color: rgb(101, 50, 38);
  border: 3px solid rgb(255, 187, 0);
  width: 80px;
  margin: auto;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 18;
  cursor: pointer;
  font-weight: bold;
}
.blog_container {
  max-width: 750px;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 30px;
  border-radius: 2rem;
  /* box-shadow: 5px 10px #b4afaf; */
  margin-top: 2rem;
}
.blog_nevigation {
  background-color: rgb(255, 187, 0);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
.blog_nevigation .list {
  color: rgb(255, 255, 255);
  display: inline;
  font-size: large;
  text-decoration: none;
}

.blog_nevigation .rev {
  color: white;

  font-size: larger;
  padding-bottom: 1rem;
}

.blog_nevigation .bot {
  text-align: center;
}
h2 {
  max-width: 750px;
  margin: auto;
}
