@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body{

    font-family: 'PT Sans', sans-serif;
}
.container{
    
    padding-left:1rem;
    padding-right:1rem;
}
.container-centered{

    max-width: 600px;
    margin:auto;
}
.links{
    text-decoration:none;
    padding:0.5rem;
  
}
hr {
    margin:1rem 0rem;
}
.primary-link{
    padding-left:1rem;
    padding-right:1rem;
    background-color: blue;
    color:white;
    border-radius: 0.5rem;
    border:1px solid black;
    text-shadow: yellow;
}
.secondary-link{

    padding-left:1rem;
    padding-right:1rem;
    border:1px solid black;
    color:black;
    border-radius: 0.5rem;
    text-shadow: yellow;
    
}
.bullet{
    text-decoration: none;
    list-style: none;
}
.inline{
    display: inline;
    padding:0rem 1rem;  
}
.navigation{
    background-color:blue;
    padding-top:1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}
.navigation .bot{
    text-align:center;
}
.navigation .list{
    color:white;
    display:inline;
 
    
}
.navigation .rev{
    color:white;
    text-align:center
}
.nevigation.link-active{
    font-weight: bold;
    font-size: bold;
}